.basket-list  {
  background: #374138;
}

.delete-all {
  font-family: 'DM Sans', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.restore_item-trash {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 87.76%;
  right: 5.24%;
  top: 83.94%;
  bottom: 4.13%;
  background-image: url("../../../icons/Restore.svg");
  cursor: pointer;
}