.login {
  position: absolute;
  width: 400px;
  height: 510px;
  left: 760px;
  top: 265px;
  background: #beb9a3;
  border-radius: 16px;
}

.register__header {
  left: 23.25%;
  right: 23%;
  top: 13.14%;
  bottom: 78.24%;
}

.email {
  left: 10%;
  right: 10%;
  top: 49.22%;
  bottom: 40.59%;
}

.password-register {
  left: 10%;
  right: 10%;
  top: 63.73%;
  bottom: 26.08%;
}

.already {
  width: 179px;
  left: 15%;
  right: 40.25%;
  top: 77.84%;
  bottom: 18.43%;
}

.signin {
  width: 53px;
  left: 71.75%;
  right: 15%;
  top: 77.84%;
  bottom: 18.43%;
}

.signin:hover {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.76);
}

.button-reg {
  left: 10%;
  right: 10%;
  top: 85.49%;
  bottom: 4.31%;
}