.errors {
  position: absolute;
  width: 320px;
  font-family: 'DM Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-shadow: 1px 1px 0 #fad9d9;
  color: #e72e31;
  &.register__errors-name {
    left: 12.75%;
    right: 16.5%;
    top: 23.53%;
    bottom: 72.35%;
  }
  &.register__errors-email {
    left: 12.75%;
    right: 43.5%;
    top: 41.18%;
    bottom: 54.71%;
  }
  &.register__errors-password {
    left: 12.75%;
    right: 20.5%;
    top: 58.82%;
    bottom: 37.06%;
  }
}