.confirm {
  width: 380px;
  height: 188px;
  background: #5a6251;
  border: 2px solid #dad2af;
  border-radius: 10px;
  transform: scale(0.3);
  transition: all 0.4s;
}

.confirm-active {
  transform: scale(1);
}

.confirm__question {
  display: inline-block;
  width: 316px;
  height: 48px;
  font-family: 'DM Sans', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CFCFD0;
  margin: 36px 0 0 32px;
}

.confirm__delete {
  display: block;
  width: 316px;
  height: 32px;
  margin: 0 auto;
  background: #352627;
  border: 1px solid #6D3631;
  border-radius: 5px;
  font-family: 'DM Sans', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #D35051;
  cursor: pointer;
  transition: all 0.3s;
}

.confirm__delete:hover {
  background: #5b383c;
}

.confirm__cancel {
  display: block;
  width: 316px;
  height: 32px;
  margin: 10px auto;
  background: #2F2F30;
  border: 1px solid #49494A;
  border-radius: 5px;
  font-family: 'DM Sans', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #D6D6D7;
  cursor: pointer;
  transition: all 0.3s;
}

.confirm__cancel:hover {
  background: #565656;
}