.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 380px;
  height: 188px;
  background: #5a6251;
  border: 2px solid #dad2af;
  border-radius: 10px;
  transform: scale(0.3);
  transition: all 0.2s;
}

.confirm-active {
  transform: scale(1);
}

.confirm__question {
  width: 316px;
  height: 48px;
  font-family: 'DM Sans', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CFCFD0;
  margin-top: 36px;
}

.confirm__delete {
  width: 316px;
  height: 32px;
  margin-bottom: 10px;
  background: #352627;
  border: 1px solid #6D3631;
  border-radius: 5px;
  font-family: 'DM Sans', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #D35051;
  cursor: pointer;
  transition: all 0.3s;
}

.confirm__delete:hover {
  background: #5b383c;
}

.confirm__cancel {
  width: 316px;
  height: 32px;
  background: #2F2F30;
  border: 1px solid #49494A;
  border-radius: 5px;
  font-family: 'DM Sans', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #D6D6D7;
  cursor: pointer;
  transition: all 0.3s;
}

.confirm__cancel:hover {
  background: #565656;
}

.user-page {
  width: 860px;
  height: 560px;
  background: #5a6251;
  border: 2px solid #dad2af;
  border-radius: 10px;
  transform: scale(0.3);
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-page-active {
  transform: scale(1);
}

.profile-name {
  color: #000;
  text-shadow: 1px 1px 0 #82886c;
  font-family: 'DM Sans', serif;
  font-weight: 700;
  font-size: 30px;
}
.user-page-avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}