@charset "UTF-8";
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../fonts/dm-sans-v11-latin-regular.woff2") format("woff2"), url("../../fonts/dm-sans-v11-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../fonts/dm-sans-v11-latin-700.woff2") format("woff2"), url("../../fonts/dm-sans-v11-latin-700.woff") format("woff");
}
body {
  background: #DCD4AF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.errors {
  position: absolute;
  left: 51px;
  width: 350px;
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-shadow: 1px 1px 0 #fad9d9;
  color: #e72e31;
}
.errors.errors-name {
  top: 120px;
}
.errors.errors-email {
  top: 210px;
}
.errors.errors-password {
  top: 300px;
}
.errors.errors-login {
  top: 145px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.modal-button {
  padding: 5px 10px;
  cursor: pointer;
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 24px;
  border: 2px solid #DCD4AF;
  border-radius: 8px;
  background: #076058;
  color: #DCD4AF;
  transition: all 0.3s;
  line-height: 24px;
}
.modal-button:hover {
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.46);
}

.menu-icon {
  width: 35px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #515152;
  margin: 6px 0 0 0;
  transition: 0.4s;
  z-index: 2;
  position: relative;
}

.bar1 {
  margin: 0;
}

.bar-dark {
  background: #DCD4AF;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 7px);
  transform: rotate(-45deg) translate(-9px, 7px);
  z-index: 2;
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
  transform: rotate(45deg) translate(-8px, -7px);
  z-index: 2;
}

.open .navigation {
  width: 272px;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 0;
  height: 100%;
  background-color: #b6ae84;
  border-right: 1px solid #000;
  overflow: hidden;
  color: white;
  padding: 200px 0 38px;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  transition: 0.2s;
  box-shadow: inset 4px 4px 15px #26251c, inset -7px -7px 15px 4px #f6ebb4;
}

.link {
  width: 200px;
  height: 50px;
  display: flex;
  font-family: "Segoe UI Light", sans-serif;
  padding: 8px 8px 8px 13px;
  margin: 10px 35px;
  text-decoration: none;
  font-size: 25px;
  color: #515152;
  transition: all 0.3s ease-out;
  border: none;
  background: #b6ae84;
  font-weight: 900;
  cursor: pointer;
  text-shadow: 1px 1px 1px #e7dfa7;
}

.link:hover {
  color: white;
  text-shadow: 0 0 7px #000000;
}

.navigation .end-nav {
  top: 0;
  right: 25px;
  margin-left: 30px;
  font-size: 24px;
  position: absolute;
}

.folder {
  margin-right: 20px;
}

.on {
  width: 34px;
  height: 34px;
}

.trash {
  width: 28px;
  height: 34px;
}

.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  z-index: 100;
}

.modal-active {
  opacity: 1;
  pointer-events: all;
  z-index: 100;
}

.content {
  max-width: 864px;
  padding: 30px;
  margin-top: 120px;
  border: 2px solid #dad2af;
  border-bottom: 2px solid #736c5e;
  border-right: 2px solid #736c5e;
  border-radius: 10px;
  background: #9AA489;
  transform: scale(1.5);
  transition: all 0.2s;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.46), inset -2px -2px 10px #1a1c18, inset 5px 5px 10px #d7e0bf;
}

.content-active {
  transform: scale(1);
}

.content-header {
  width: 800px;
  height: 60px;
  background: #DCD4AF;
  margin-bottom: 6px;
  border-radius: 8px;
  font-family: "DM Sans", "Segoe UI", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  border: 1px solid #707965;
  transition: all 0.3s;
  padding: 20px;
  color: rgba(0, 0, 0, 0.66);
  text-shadow: 1px 1px 1px #fcefd8;
  box-shadow: 0 0 0 1px #DCD4AF, inset 2px 2px 10px #605b4c, inset -5px -5px 10px 2px #f8efd4;
}
.content-header:focus {
  outline: none;
  box-shadow: 0 0 0 1px #DCD4AF, inset 1px 1px 1px #605b4c, inset 1px 1px 1px 1px #f8efd4;
}

.content-body {
  width: 800px;
  height: 300px;
  background: #DCD4AF;
  margin: 28px 0 46px;
  border-radius: 8px;
  font-family: "DM Sans", "Segoe UI", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  border: 1px solid #707965;
  transition: all 0.3s;
  padding: 20px;
  resize: none;
  color: rgba(0, 0, 0, 0.66);
  text-shadow: 1px 1px 1px #fcefd8;
  box-shadow: 0 0 0 1px #DCD4AF, inset 2px 2px 10px #605b4c, inset -5px -5px 10px 2px #f8efd4;
}
.content-body:focus {
  outline: none;
  box-shadow: 0 0 0 1px #DCD4AF, inset 1px 1px 1px #605b4c, inset 1px 1px 1px 1px #f8efd4;
}
.content-body::placeholder {
  font-weight: 700;
  font-size: 24px;
}

.remaining-header {
  margin-left: 5px;
  font-family: "DM Sans", serif;
}

.remaining-body {
  position: absolute;
  left: 4%;
  bottom: 95px;
  font-family: "DM Sans", serif;
}

@media (max-width: 900px) {
  .content {
    max-width: 664px;
  }
  .content-header {
    max-width: 600px;
  }
  .content-body {
    max-width: 600px;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content {
    margin: 0;
  }
  .remaining-body {
    left: 35px;
    bottom: 90px;
  }
}
@media (max-width: 680px) {
  .content {
    max-width: 320px;
    padding: 13px;
    margin-top: 60px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.46), inset -1px -1px 5px #1a1c18, inset 2px 2px 5px #d7e0bf;
  }
  .content-header {
    max-width: 256px;
    height: 30px;
    margin-bottom: 3px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 10px;
    box-shadow: 0 0 0 1px #DCD4AF, inset 1px 1px 5px #605b4c, inset -2px -2px 5px 1px #f8efd4;
  }
  .content-header:focus {
    outline: none;
    box-shadow: 0 0 0 1px #DCD4AF, inset 1px 1px 1px #605b4c, inset 1px 1px 1px 1px #f8efd4;
  }
  .content-body {
    max-width: 256px;
    height: 150px;
    margin: 3px 0 15px;
    border-radius: 4px;
    font-size: 10px;
    line-height: 10px;
    border: 1px solid #000;
    padding: 10px;
    box-shadow: 0 0 0 1px #DCD4AF, inset 1px 1px 5px #605b4c, inset -2px -2px 5px 1px #f8efd4;
  }
  .content-body:focus {
    outline: none;
    box-shadow: 0 0 0 1px #DCD4AF, inset 1px 1px 1px #605b4c, inset 1px 1px 1px 1px #f8efd4;
  }
  .content-body::placeholder {
    font-size: 12px;
  }
  .remaining-header {
    font-size: 7px;
  }
  .remaining-body {
    left: 7%;
    bottom: 54px;
    font-size: 7px;
  }
}
.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
  padding: 20px;
  background: #5a6251;
  border: 2px solid #dad2af;
  border-bottom: 2px solid #736c5e;
  border-right: 2px solid #736c5e;
  border-radius: 10px;
  transform: scale(0.3);
  transition: all 0.2s;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.46), inset -2px -2px 10px #1a1c18, inset 5px 5px 10px #989f87;
}

.confirm-active {
  transform: scale(1);
}

.confirm__question {
  width: 236px;
  min-height: 48px;
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CFCFD0;
  padding: 0 10px 15px;
  text-shadow: none;
}

.confirm__delete {
  width: 236px;
  height: 32px;
  margin-bottom: 10px;
  background: #352627;
  border: 1px solid #6D3631;
  border-radius: 5px;
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #D35051;
  cursor: pointer;
  transition: all 0.3s;
}
.confirm__delete:hover {
  background: #5b383c;
  box-shadow: inset -2px -2px 5px #1f0c0c, inset 2px 2px 5px #bb595b;
}

.confirm__cancel {
  width: 236px;
  height: 32px;
  background: #2F2F30;
  border: 1px solid #49494A;
  border-radius: 5px;
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #D6D6D7;
  cursor: pointer;
  transition: all 0.3s;
}
.confirm__cancel:hover {
  background: #565656;
  box-shadow: inset -2px -2px 5px #333333, inset 2px 2px 5px #98989a;
}

.user-page {
  width: 860px;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #5a6251;
  border: 2px solid #dad2af;
  border-bottom: 2px solid #736c5e;
  border-right: 2px solid #736c5e;
  border-radius: 10px;
  transform: scale(0.3);
  transition: all 0.2s;
  z-index: 100;
  margin: 0 auto;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.46), inset -2px -2px 10px #1a1c18, inset 5px 5px 10px #989f87;
}

.user-page-active {
  transform: scale(1);
}

.profile-name {
  display: flex;
  justify-content: center;
  min-width: 150px;
  color: #000;
  text-shadow: 1px 1px 0 #82886c;
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 30px;
  align-items: center;
}

.avatar-edit-wrap {
  width: 150px;
  height: 38px;
  display: flex;
  justify-content: flex-end;
}

.avatar-edit-button {
  padding: 5px 10px;
  cursor: pointer;
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 24px;
  border: 2px solid #DCD4AF;
  border-radius: 8px;
  background: #076058;
  color: #DCD4AF;
  transition: all 0.3s;
  line-height: 24px;
}
.avatar-edit-button:hover {
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.46);
}

.avatar-edit {
  opacity: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.avatar-edit:hover {
  transform: scale(1.2);
}

.name-edit {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.name-edit:hover {
  transform: scale(1.2);
}

.profile-container {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.avatar-save {
  position: absolute;
  right: 375px;
  top: 100px;
}

.profile-input {
  width: 150px;
  height: 39px;
  font-size: 20px;
  border: 1px solid #f6f6f5;
  border-radius: 5px;
  margin: 0 10px 0;
  padding-left: 10px;
  font-family: "DM Sans", serif;
  background: #c4c4c4;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: inset 3px 3px 5px #555659, inset -2px -2px 5px #fff;
  transition: all 0.2s ease-in-out;
}

.profile-input:focus {
  box-shadow: inset 1px 1px 2px #9a9ba2, inset -1px -1px 2px #f1f1f1;
  outline: none;
}

.user-page-avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.hide {
  opacity: 0;
}

.danger-zone {
  position: absolute;
  bottom: 20px;
  text-shadow: 1px 1px 2px #000;
  font-family: "DM Sans", serif;
  color: #d8d0af;
  cursor: pointer;
}

.danger-active {
  border: 2px solid red;
  font-size: 12px;
}

.danger {
  border: 2px solid #2a2a2a;
  font-size: 12px;
  background: #777;
}

.danger:hover {
  box-shadow: none;
}

@media (max-width: 530px) {
  .profile-container {
    flex-direction: column;
    row-gap: 10px;
  }
}
.main, .login, .note-page__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-list__container_search, .note-list__container_sort, .note-list__container_add-note {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-list .side-bar__list_trash, .note-list .side-bar__list_favorites, .note-list .side-bar__list_all {
  display: flex;
  min-width: 230px;
  min-height: 35px;
  margin: 0 0 50px 0;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.login-form__button-disabled, .login-form__button {
  display: block;
  width: 320px;
  height: 52px;
  margin: 66px auto 0;
  background: #D9D9D9;
  border-radius: 30px;
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  color: #747578;
  border: none;
  outline: none;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: 2px 2px 5px #9a9ba2;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.dark {
  background: #3c3f41;
}

/*=========< nav >===========*/
.nav {
  max-height: 109px;
  padding: 8px 9px;
  background: #9AA489;
  border-bottom: 2px solid #000;
}
.nav.nav-dark {
  background: #353a35;
  border-bottom: 2px solid #6c6958;
}
.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  flex-wrap: wrap;
  border: 1px solid #858f7a;
  border-radius: 10px;
  padding: 0 23px;
  box-shadow: 0 0 0 1px #a99e75, inset 2px 2px 10px #22251a, inset -5px -5px 10px 2px #f6fdd6;
}
.nav .nav-row-dark {
  border: 1px solid #6c6958;
  box-shadow: 0 0 0 1px #353a36, inset 5px 5px 10px 2px #22251a, inset -2px -2px 10px #576044;
}
.nav-profile-name {
  color: #000;
  text-shadow: 1px 1px 0 #c7ceb7;
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
}
.nav-profile-name-dark {
  color: #dcd4af;
}
.nav-profile-avatar {
  min-width: 60px;
  height: 60px;
  cursor: pointer;
}
.nav-header {
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 70px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.76);
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 23px;
}
.nav-list__item {
  padding: 12px 24px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.32);
  border-radius: 10px;
  list-style: none;
  transition: all 0.2s;
  cursor: pointer;
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}
.nav-list__item:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.46), inset -2px -2px 5px #5a694d, inset 5px 5px 10px #cfd7b4;
}
.nav-list__item:active {
  transform: translateY(0);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.32), inset -2px -2px 5px #5a694d, inset 5px 5px 10px #cfd7b4;
}
.nav-list .darkness-item {
  box-shadow: 0 0 0 1px #6c6958;
}
.nav-list .darkness-item:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.46), inset -2px -2px 5px #181a18, inset 3px 3px 5px #5b6449;
}
.nav-list .darkness-item:active {
  transform: translateY(0);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.32), inset -2px -2px 5px #181a18, inset 3px 3px 5px #5b6449;
}
.nav-list__link {
  color: #000;
  text-shadow: 1px 1px 0 #c7ceb7;
  text-decoration: none;
}
.nav-list__link.darkness-link {
  text-shadow: none;
  color: #c5ccb7;
}
.nav-settings {
  width: 42px;
  height: 42px;
  border: none;
  cursor: pointer;
  background: transparent;
  transition: all 0.2s;
}
.nav-settings:hover {
  transform: translateX(-10px) rotate(-30deg);
}
.nav-settings-logo {
  max-width: 42px;
}
.nav-settings-body {
  position: absolute;
  right: 90px;
  top: 15px;
  min-width: 190px;
  min-height: 112px;
  padding: 10px 13px 6px;
  background: #D9D9D9;
  border: 1px solid #000;
  border-radius: 12px;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: inset 2px 2px 5px #707073, inset -5px -5px 10px #fff;
  transition: all 0.2s;
  display: none;
  z-index: -10;
}
.nav-settings-body.op {
  display: block;
  z-index: 10;
}
.nav-settings-body__item:not(:last-child) {
  min-width: 80px;
  font-family: "DM Sans", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000;
  cursor: pointer;
  transition: all 0.2s;
}
.nav-settings-body__item:not(:last-child):hover {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.nav-settings-body__item:not(:last-child) {
  margin-bottom: 8px;
}
.nav .dark-mode-btn {
  position: relative;
  width: 54px;
  height: 28px;
  padding-top: 5px;
  bottom: 5px;
  left: 6px;
  background: #272727;
  border-radius: 25px;
  cursor: pointer;
}
.nav .dark-mode-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  transition: left 0.3s;
}
.nav .dark-mode-btn__active::before {
  left: 26px;
}
.nav .dark-mode-btn__sun {
  position: absolute;
  top: 4px;
  left: 4px;
}
.nav .dark-mode-btn__moon {
  position: absolute;
  top: 4px;
  right: 4px;
}

.hidden {
  display: none;
}

/*=========< note-list >===============*/
.note-list {
  display: flex;
  height: 846px;
}
.note-list .side-bar {
  max-width: 280px;
  height: 846px;
  padding: 20px;
  background: #DCD4AF;
  border-right: 2px solid #000;
  box-shadow: 0 0 0 1px #DCD4AF, inset 2px 2px 10px #605b4c, inset -5px -5px 10px 2px #f8efd4;
}
.note-list .side-bar-dark {
  background: #424037;
  border-right: 2px solid #6c6958;
  color: #dcd4af;
  box-shadow: 0 0 0 1px #413f38, inset 3px 3px 10px 2px #21211d, inset -3px -3px 10px 2px #605e53;
}
.note-list .side-bar__list {
  margin-top: 140px;
  max-width: 280px;
  min-height: 194px;
}
.note-list .side-bar__list_all-logo {
  width: 43px;
  height: 35px;
}
.note-list .side-bar__list_all-text {
  width: 94px;
  height: 21px;
  margin-left: 15px;
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  text-shadow: 1px 1px 0 #fff7e5;
}
.note-list .side-bar__list_all-text.darkness {
  text-shadow: none;
}
.note-list .side-bar__list_all-num {
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  text-shadow: 1px 1px 0 #fff7e5;
  margin: 1px 0 0 14px;
}
.note-list .side-bar__list_all-num.darkness {
  text-shadow: none;
}
.note-list .side-bar__list_favorites-logo {
  width: 35px;
  height: 35px;
}
.note-list .side-bar__list_favorites-text {
  width: 98px;
  height: 21px;
  margin-left: 15px;
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  text-shadow: 1px 1px 0 #fff7e5;
}
.note-list .side-bar__list_favorites-text.darkness {
  text-shadow: none;
}
.note-list .side-bar__list_favorites-num {
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  text-shadow: 1px 1px 0 #fff7e5;
  margin: 1px 0 0 14px;
}
.note-list .side-bar__list_favorites-num.darkness {
  text-shadow: none;
}
.note-list .side-bar__list_trash-bin {
  width: 26px;
  height: 35px;
}
.note-list .side-bar__list_trash-text {
  width: 63px;
  height: 21px;
  margin-left: 15px;
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  text-shadow: 1px 1px 0 #fff7e5;
}
.note-list .side-bar__list_trash-text.darkness {
  text-shadow: none;
}
.note-list .side-bar__list_trash-num {
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  text-shadow: 1px 1px 0 #fff7e5;
  margin: 1px 0 0 14px;
}
.note-list .side-bar__list_trash-num.darkness {
  text-shadow: none;
}
.note-list .side-bar__list_all:hover, .note-list .side-bar__list_favorites:hover, .note-list .side-bar__list_trash:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.46), inset -2px -2px 5px #918b6d, inset 5px 5px 10px #f5edcd;
}
.note-list .side-bar__list_all:active, .note-list .side-bar__list_favorites:active, .note-list .side-bar__list_trash:active {
  transform: translateY(0);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.32), inset -2px -2px 5px #918b6d, inset 5px 5px 10px #f5edcd;
}
.note-list .side-bar__list .all-dark:hover,
.note-list .side-bar__list .favorites-dark:hover,
.note-list .side-bar__list .trash-dark:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.46), inset -2px -2px 5px #1f1f1b, inset 5px 5px 10px #737164;
}
.note-list .side-bar__list .all-dark:active,
.note-list .side-bar__list .favorites-dark:active,
.note-list .side-bar__list .trash-dark:active {
  transform: translateY(0);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.32), inset -2px -2px 5px #1f1f1b, inset 5px 5px 10px #737164;
}
.note-list__wrapper {
  flex-grow: 1;
  height: 846px;
  padding: 28px 46px;
  box-shadow: 0 0 0 1px #DCD4AF, inset 2px 2px 10px #605b4c, inset -5px -5px 10px 2px #f8efd4;
}
.note-list .note-list-dark {
  box-shadow: 0 0 0 1px #413f38, inset 3px 3px 10px 2px #1d1f1f, inset -3px -3px 10px 2px #596164;
}
.note-list__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 46px;
  column-gap: 28px;
  row-gap: 15px;
  margin-bottom: 28px;
}
.note-list__container_add-note {
  min-width: 100px;
  min-height: 40px;
  padding: 0 15px 0 3px;
  border: 1px solid #000;
  border-radius: 25px;
  box-sizing: content-box;
  background: #D7D7D7;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.note-list__container_add-note:hover {
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.46), inset -2px -2px 5px #9a9ba2, inset 5px 5px 10px #f1f1f1;
}
.note-list__container_add-note:active {
  box-shadow: 1px 1px 0 0 #000, inset -2px -2px 5px #9a9ba2, inset 5px 5px 10px #f1f1f1;
}
.note-list__container_add-note-plus {
  width: 34px;
  height: 34px;
}
.note-list__container_add-note-new {
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 24px;
  text-shadow: 1px 1px 0 #fff;
}
.note-list__container_sort {
  min-width: 120px;
  min-height: 40px;
  padding: 0 25px;
  background: #D7D7D7;
  border: 1px solid #000;
  border-radius: 25px;
  box-sizing: content-box;
  cursor: pointer;
  transition: all 0.3s;
}
.note-list__container_sort:hover {
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.46), inset -2px -2px 5px #9a9ba2, inset 5px 5px 10px #f1f1f1;
}
.note-list__container_sort:active {
  box-shadow: 1px 1px 0 0 #000, inset -2px -2px 5px #9a9ba2, inset 5px 5px 10px #f1f1f1;
}
.note-list__container_sort-first {
  width: 88px;
  font-family: "DM Sans", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  color: #000;
  text-shadow: 1px 1px 0 #fff;
}
.note-list__container .sort-img-down {
  transition: all 0.2s ease-out;
  transform: rotate(0deg);
}
.note-list__container .sort-img-up {
  transition: all 0.2s ease-out;
  transform: rotate(180deg);
}
.note-list__container .wrap-page {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 900;
}
.note-list__container .div-page {
  transition: all 0.2s;
  cursor: pointer;
}
.note-list__container .div-page:hover {
  text-shadow: 0 0 5px #000;
}
.note-list__container .div-page:active {
  transform: scale(0.8);
}
.note-list__container .div-page-dark {
  color: #DCD4AF;
}
.note-list__container .div-page-dark:hover {
  text-shadow: 0 0 5px #DCD4AF;
}
.note-list__container_page-list {
  display: flex;
  min-width: 90px;
  max-width: 452px;
  border: 1px solid #000;
  margin: 0 10px;
  border-radius: 25px;
  overflow: hidden;
}
.note-list__container_page-list-item {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 44px;
  flex-shrink: 0;
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 20px;
  list-style: none;
  background: #d5d5d6;
  text-shadow: 1px 1px 1px #fff;
  transition: all 0.2s;
  cursor: pointer;
}
.note-list__container_page-list-item:not(:last-child) {
  border-right: 1px solid #838282;
}
.note-list__container_page-list-item:hover {
  background: #b3b3b9;
}
.note-list__container_page-list-item.page-active {
  background: #525252;
  color: #dcd4af;
  text-shadow: none;
}
.note-list__container_search {
  flex-direction: row-reverse;
  max-width: 500px;
  min-height: 40px;
  padding: 0 15px;
  margin-left: auto;
  background: #D7D7D7;
  border: 1px solid #000000;
  border-radius: 25px;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: inset 2px 2px 5px #707073, inset -5px -5px 10px #fff;
  transition: all 0.2s ease-in-out;
}
.note-list__container_search:focus {
  box-shadow: inset 1px 1px 2px #707073, inset -1px -1px 2px #fff;
}
.note-list__container_search-input {
  width: 415px;
  height: 23px;
  margin-right: 10px;
  font-family: "DM Sans", "Segoe UI", serif;
  font-weight: 400;
  font-size: 21px;
  background: transparent;
  border: none;
  outline: none;
  text-shadow: 1px 1px 0 #fff;
}
.note-list__container_search-input:focus + .note-list__container_search-icon {
  transform: scale(0.8);
}
.note-list__container_search-icon {
  width: 26px;
  height: 26px;
  margin-top: 2px;
  margin-right: 10px;
  transition: all 0.2s;
}
.note-list__grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 714px;
  box-sizing: content-box;
  column-gap: 31.5px;
  row-gap: 30px;
}
.note-list__grid_item {
  position: relative;
  width: 286px;
  height: 218px;
  background: #d5d5d6;
  border: 2px solid #1B1C1D;
  border-radius: 10px;
  transition: all 0.3s;
}
.note-list__grid_item:hover {
  transform: translateY(-5px);
  box-shadow: 3px 3px 5px 2px #796e57, inset -2px -2px 5px #9a9ba2, inset 5px 5px 10px #f1f1f1;
}
.note-list__grid_item-header {
  width: 264px;
  height: 40px;
  word-wrap: break-word;
  padding: 0 10px;
  margin: 7px 9px 0;
  background: #d5d5d6;
  border-radius: 10px;
  font-family: "DM Sans", "Segoe UI", serif;
  font-weight: 700;
  font-size: 16px;
  color: #1B1C1D;
  line-height: 20px;
  box-shadow: inset 2px 2px 5px #9a9ba2, inset -5px -5px 10px #f1f1f1;
  text-shadow: 1px 1px 0 #fff;
  overflow: hidden;
}
.note-list__grid_item-body {
  width: 270px;
  height: 121px;
  margin: 7px 6px 0;
  background: #ececec;
  border: 1px solid #9d9d9b;
  border-radius: 10px;
  font-family: "DM Sans", "Segoe UI", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 9px 13px 0;
  color: #808080;
  cursor: pointer;
  box-shadow: inset 2px 2px 5px #9a9ba2, inset -5px -5px 10px #fff;
  text-shadow: 1px 1px 0 #fff;
}
.note-list__grid_item-body-hidden {
  position: relative;
  width: 242px;
  height: 83px;
  overflow: hidden;
}
.note-list__grid_item-body-hidden::before {
  content: ""; /* Выводим пустой блок */
  position: absolute; /* Абсолютное позиционирование */
  left: 0;
  right: 13px; /* Устанавливает ширину блока */
  bottom: 0; /* Положение от нижнего края */
  width: 242px;
  height: 20px; /* Высота */
  background: linear-gradient(to bottom, transparent, #ececec 80%);
  pointer-events: none; /* Не реагирует на мышь */
}
.note-list__grid_item .data-block {
  display: flex;
  justify-content: space-between;
}
.note-list__grid_item-date {
  margin-left: 15px;
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}
.note-list__grid_item-time {
  margin-right: 15px;
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}
.note-list__grid_item .box {
  display: flex;
  justify-content: space-between;
}
.note-list__grid_item .favorite-off {
  display: flex;
  width: 26px;
  height: 26px;
  margin: 6px 0 0 15px;
  cursor: pointer;
  transition: all 0.2s;
}
.note-list__grid_item .favorite-off:active {
  transform: scale(1.2);
}
.note-list__grid_item-trash {
  display: flex;
  margin: 6px 15px 0 0;
  width: 20px;
  height: 26px;
  cursor: pointer;
  transition: all 0.2s;
}
.note-list__grid_item-trash:active {
  transform: scale(1.2);
}
.note-list__grid .note-dark {
  border: 2px solid #dad2af;
}

/*============< notePage >==============*/
.page {
  height: 695px;
  padding: 0 20px 20px;
}

.note-page {
  max-width: 860px;
  max-height: 560px;
  margin: 150px auto;
  padding: 30px;
  background: #A5A993;
  border: 1px solid #000;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #a99e75, inset 2px 2px 10px #22251a, inset -5px -5px 10px 2px #f6fdd6;
}
.note-page__header {
  max-width: 800px;
  height: 100px;
  margin: 0 0 30px;
  padding: 17px 18px;
  background: #D9D9D9;
  border: 1px solid #757576;
  border-radius: 20px;
  font-family: "DM Sans", "Segoe UI", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: rgba(0, 0, 0, 0.64);
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.46), inset -2px -2px 5px #9a9ba2, inset 5px 5px 10px #f1f1f1;
}
.note-page__body {
  max-width: 800px;
  height: 300px;
  padding: 25px;
  background: #D9D9D9;
  border: 1px solid #747476;
  border-radius: 20px;
  font-family: "DM Sans", "Segoe UI", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.66);
  outline: none;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.46), inset -2px -2px 5px #9a9ba2, inset 5px 5px 10px #f1f1f1;
}
.note-page__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note-page__container_arrow {
  width: 60px;
  height: 40px;
  margin: 30px 0 30px 30px;
  cursor: pointer;
  transition: all 0.2s;
}
.note-page__container_arrow:hover {
  transform: scale(1.2);
}
.note-page__container_edit {
  width: 40px;
  height: 40px;
  margin: 30px 30px 30px 0;
  cursor: pointer;
  transition: all 0.2s;
}
.note-page__container_edit:hover {
  transform: scale(1.2);
}

/*=============< basket-list >=============*/
.basket-list {
  background: #7e7963;
}

.basket-list-shadow {
  min-height: 846px;
  box-shadow: 0 0 0 1px #6c6958, inset 3px 3px 10px 2px #3f3b31, inset -3px -3px 10px 2px #bdb891;
}

.delete-all {
  padding: 0 9px 0 14px;
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 18px;
}

/*===========< login >=============*/
.login {
  position: relative;
  max-width: 1919px;
  height: 844px;
  padding: 20px;
  box-shadow: 0 0 0 1px #DCD4AF, inset 2px 2px 10px #605b4c, inset -5px -5px 10px 2px #f8efd4;
}
.login__back-arrow {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 60px;
  height: 40px;
  cursor: pointer;
  transition: all 0.2s;
}
.login__back-arrow:hover {
  transform: scale(1.2);
}
.login-form {
  position: relative;
  width: 400px;
  min-height: 510px;
  padding: 0 15px;
  background: #beb9a3;
  border-radius: 16px;
  box-shadow: 0 0 0 1px #a99e75, inset 2px 2px 8px #5e5a4b, inset -5px -5px 8px #eee7c9;
}
.login-form__header {
  width: 93px;
  margin: 67px auto 66px;
  font-family: "DM Sans", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}
.login-form__header.register__header {
  width: 210px;
  margin: 51px auto 50px;
}
.login-form__input {
  display: block;
  width: 320px;
  height: 52px;
  margin: 0 auto 30px;
  background: #D9D9D9;
  border-radius: 30px;
  font-family: "DM Sans", "Segoe UI", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  border: none;
  outline: none;
  color: #000;
  padding: 16px;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: inset 2px 2px 5px #9a9ba2, inset -5px -5px 10px #f1f1f1;
  transition: all 0.2s ease-in-out;
}
.login-form__input:focus {
  box-shadow: inset 1px 1px 2px #9a9ba2, inset -1px -1px 2px #f1f1f1;
}
.login-form__input.password {
  width: 320px;
  height: 52px;
  margin: 4px auto 22px;
}
.login-form__input.password.password-register {
  margin-bottom: 20px;
}
.login-form__input.name-register {
  margin: 4px auto 38px;
}
.login-form__input.email {
  margin: 4px auto 38px;
}
.login-form__block {
  display: flex;
  justify-content: space-between;
}
.login-form__block_account {
  width: 157px;
  margin-left: 60px;
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  color: #6b6b6b;
  text-shadow: 1px 1px 0 #d7d7d7;
}
.login-form__block_account.signup {
  width: 57px;
  margin: 0 60px 0 0;
  text-shadow: 1px 1px 0 #d7d7d7;
  transition: all 0.2s;
  cursor: pointer;
}
.login-form__block_account.signup:hover {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.76);
}
.login-form__block_account.already {
  width: 179px;
}
.login-form__button:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.46), inset -2px -2px 5px #9a9ba2, inset 5px 5px 10px #f1f1f1;
}
.login-form__button:active {
  transform: translateY(0);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.32), inset -2px -2px 5px #9a9ba2, inset 5px 5px 10px #f1f1f1;
}
.login-form .button-reg {
  margin: 20px auto 0;
}
.login-dark {
  box-shadow: 0 0 0 1px #413f38, inset 3px 3px 10px 2px #1d1f1f, inset -3px -3px 10px 2px #596164;
}

.main {
  max-width: 1919px;
  height: 844px;
  box-shadow: 0 0 0 1px #DCD4AF, inset 2px 2px 10px #605b4c, inset -5px -5px 10px 2px #f8efd4;
}
.main-img {
  width: 600px;
  border: 2px solid #000;
  border-radius: 50px;
  box-shadow: 15px 15px 20px 10px rgba(0, 0, 0, 0.78);
  transition: all 0.3s;
  cursor: pointer;
}
.main-img:active {
  transform: scale(0.99);
  box-shadow: 15px 15px 10px 2px rgba(0, 0, 0, 0.78);
}
.main-img-dark {
  border: 2px solid #6c6958;
}

.main-dark {
  box-shadow: 0 0 0 1px #413f38, inset 3px 3px 10px 2px #1d1f1f, inset -3px -3px 10px 2px #596164;
}

@media (max-width: 1900px) {
  .note-list__grid {
    justify-content: center;
  }
}
@media (max-width: 1549px) {
  .note-list__container_search {
    width: 286px;
  }
  .note-list__container_search-input {
    width: 200px;
  }
}
@media (max-width: 1342px) {
  .note-list__container {
    column-gap: 15px;
  }
}
@media (max-width: 1227px) {
  .side-bar {
    display: none;
  }
}
@media (max-width: 905px) {
  .note-list__container_search {
    margin-left: 0;
  }
}
@media (max-width: 800px) {
  .nav-row {
    padding: 0 12px;
  }
  .nav-list {
    column-gap: 12px;
  }
  .nav-header {
    font-size: 35px;
  }
  .nav-settings-logo {
    width: 25px;
  }
  .nav-profile-name {
    font-size: 20px;
  }
  .nav-profile-avatar {
    width: 30px;
    height: 30px;
  }
  .nav-list__item {
    padding: 6px 12px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.32);
    border-radius: 5px;
    font-size: 12px;
  }
  .nav-list__item:hover {
    border-radius: 5px;
    transform: translateY(-1px);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.46), inset -1px -1px 2px #5a694d, inset 2px 2px 5px #cfd7b4;
  }
  .nav-list__item:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.32), inset -1px -1px 2px #5a694d, inset 2px 2px 5px #cfd7b4;
  }
  .main-img {
    width: 500px;
    border-radius: 40px;
  }
}
@media (max-width: 749px) {
  .note-list__container_search {
    width: 161px;
  }
  .note-list__container_search-input {
    width: 75px;
  }
}
@media (max-width: 555px) {
  .nav-settings {
    display: none;
  }
  .main-img {
    width: 400px;
    border-radius: 30px;
  }
}
@media (max-width: 490px) {
  .page {
    padding: 0 10px 10px;
  }
  .note-page {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #a99e75, inset 1px 1px 5px #22251a, inset -2px -2px 5px 1px #f6fdd6;
  }
  .note-page__header {
    height: 50px;
    line-height: 15;
    font-size: 12px;
    border-radius: 10px;
    padding: 8px 9px;
    margin: 0 0 15px;
    align-content: flex-start;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.46), inset -1px -1px 3px #9a9ba2, inset 2px 2px 5px #f1f1f1;
  }
  .note-page__body {
    height: 150px;
    padding: 10px;
    font-size: 8px;
    line-height: 1;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.46), inset -1px -1px 3px #9a9ba2, inset 2px 2px 5px #f1f1f1;
  }
  .note-page__container {
    height: 20px;
    margin-top: 15px;
  }
  .note-page__container_arrow {
    width: 30px;
    height: 20px;
    margin: 0 0 0 15px;
  }
  .note-page__container_arrow:hover {
    transform: scale(1.1);
  }
  .note-page__container_edit {
    width: 20px;
    height: 20px;
    margin: 0 15px 0 0;
    transition: all 0.2s;
  }
  .note-page__container_edit:hover {
    transform: scale(1.1);
  }
  .main-img {
    width: 300px;
    border-radius: 25px;
  }
}
@media (max-width: 463px) {
  .note-list {
    max-height: 863px;
  }
  .note-list__wrapper {
    padding: 15px 20px 0;
  }
  .note-list__container {
    min-height: 23px;
    column-gap: 14px;
    row-gap: 8px;
    margin-bottom: 14px;
  }
  .note-list__container_add-note {
    min-width: 50px;
    min-height: 20px;
    padding: 0 5px 0 1px;
  }
  .note-list__container_add-note:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.46), inset -1px -1px 2px #9a9ba2, inset 2px 2px 5px #f1f1f1;
  }
  .note-list__container_add-note:active {
    box-shadow: 1px 1px 0 0 #000, inset -1px -1px 2px #9a9ba2, inset 2px 2px 5px #f1f1f1;
  }
  .note-list__container_add-note-plus {
    width: 19px;
    height: 19px;
  }
  .note-list__container_add-note-new {
    font-size: 16px;
    margin-left: 2px;
  }
  .note-list__container_sort {
    min-width: 60px;
    min-height: 20px;
    padding: 0 6px;
  }
  .note-list__container_sort:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.46), inset -1px -1px 2px #9a9ba2, inset 2px 2px 5px #f1f1f1;
  }
  .note-list__container_sort:active {
    box-shadow: 1px 1px 0 0 #000, inset -1px -1px 2px #9a9ba2, inset 2px 2px 5px #f1f1f1;
  }
  .note-list__container_sort-first {
    width: 70px;
    font-family: "DM Sans", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
  }
  .note-list__container .delete-all {
    padding: 0 9px 0 9px;
    font-size: 14px;
  }
  .note-list__container .sort-img-down {
    margin-left: 4px;
    width: 10px;
    height: 6px;
  }
  .note-list__container .wrap-page {
    font-size: 20px;
  }
  .note-list__container .div-page {
    display: none;
  }
  .note-list__container_page-list {
    min-width: 45px;
    max-width: 225px;
    margin: 0 5px;
  }
  .note-list__container_page-list-item {
    width: 25px;
    height: 20px;
    font-size: 14px;
  }
  .note-list__container_search {
    width: 140px;
    min-height: 23px;
    padding: 0 8px;
    box-shadow: inset 1px 1px 2px #707073, inset -2px -2px 5px #fff;
    transition: all 0.2s ease-in-out;
  }
  .note-list__container_search:focus {
    box-shadow: inset 1px 1px 1px #707073, inset -1px -1px 1px #fff;
  }
  .note-list__container_search-input {
    width: 100px;
    height: 18px;
    background: transparent;
    margin-right: 5px;
    font-size: 12px;
  }
  .note-list__container_search-icon {
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-right: 5px;
  }
  .menu-icon {
    width: 20px;
  }
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    margin: 3px 0 0 0;
  }
  .bar1 {
    margin: 0;
  }
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5px, 4px);
  }
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
  }
}
@media (max-width: 420px) {
  .login {
    padding: 10px;
  }
  .login__back-arrow {
    position: absolute;
    width: 30px;
    height: 20px;
  }
  .login__back-arrow:hover {
    transform: scale(1.1);
  }
  .login-form {
    position: relative;
    width: 286px;
    height: 410px;
    margin: 100px auto;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #a99e75, inset 1px 1px 4px #5e5a4b, inset -2px -2px 4px #eee7c9;
  }
  .login-form__header {
    margin: 33px auto 33px;
  }
  .login-form__header.register__header {
    margin: 33px auto 33px;
  }
  .login-form__input {
    width: 236px;
    height: 40px;
    margin: 0 auto 20px;
    font-size: 14px;
    line-height: 19px;
    padding: 8px 16px;
  }
  .login-form__input.password {
    width: 236px;
    height: 40px;
    margin: 4px auto 22px;
  }
  .login-form__input.password.password-register {
    margin-bottom: 20px;
  }
  .login-form__input.name-register {
    margin: 4px auto 20px;
  }
  .login-form__input.email {
    margin: 4px auto 20px;
  }
  .login-form__block_account {
    width: 120px;
    margin-left: 30px;
    font-size: 12px;
  }
  .login-form__block_account.signup {
    width: 45px;
    margin: 0 30px 0 0;
  }
  .login-form__block_account.signup:hover {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.76);
  }
  .login-form__block_account.already {
    width: 140px;
  }
  .login-form__button {
    width: 236px;
    height: 40px;
    margin: 98px auto 0;
    font-size: 20px;
  }
  .login-form .button-reg {
    margin: 20px auto 0;
  }
  .login-form__button-disabled {
    width: 236px;
    height: 40px;
    margin: 20px auto 0;
    font-size: 20px;
  }
  .errors {
    left: 32px;
    width: 256px;
    font-size: 12px;
    line-height: 12px;
  }
  .errors.errors-name {
    top: 153px;
  }
  .errors.errors-email {
    top: 213px;
  }
  .errors.errors-password {
    top: 275px;
  }
  .errors.errors-login {
    top: 153px;
  }
  .wd {
    width: 200px;
  }
  .block {
    margin-top: 40px;
  }
  .login-form {
    min-height: 410px;
  }
}
@media (max-width: 362px) {
  .nav-header {
    font-size: 20px;
    padding: 10px 0;
  }
  .main {
    height: 674px;
  }
  .main-img {
    width: 250px;
    border-radius: 20px;
  }
  .login {
    height: 674px;
  }
}
@media (max-width: 298px) {
  .nav-header {
    font-size: 14px;
  }
}

/*# sourceMappingURL=note.css.map */
